# Argentina's Inflation Analysis vs. Common Investments

## Introduction

üìàüìä In this data analysis project, we will delve into the study of inflation in Argentina and its relationship with the most common investment mechanisms in the country. The main objective is to compare the evolution of inflation in Argentina with the results obtained through the most common investments, such as **purchasing dollars and fixed-term deposits**. Additionally, we will examine the relationship between Argentine inflation and the **inflation of the US dollar** and the performance of the **S&P 500 index** as relevant global indicators.

From the year 2000 to the present day, Argentina has faced significant economic challenges that have influenced the evolution of inflation. This analysis will provide valuable insights for investors, allowing them to better understand the impact of inflation on different investment strategies and gain a more comprehensive view of the Argentine financial landscape.

‚ö†Ô∏è This analysis covers the time period from **2000 to the present day (2023).**

## The Data

We collected data on the evolution of the following assets between 2005 and 2023. Depending on the asset, the data frequency is monthly or daily, although this will be adjusted at the data cleaning stage:

* U.S. dollar inflation
* Performance of the SPY (SPDR S&P 500 ETF Trust)
* Interest rate paid by retail time deposits for 30-day deposits in Argentine pesos.
* Evolution of the price of the U.S. dollar in Argentine pesos, both in its official version and in the so-called Dolar Blue or parallel dollar.

**What is the so called "Blue" dollar in Argentina?**

The "Blue" dollar in Argentina is the unofficial exchange rate for the U.S. dollar, determined in the informal market. It operates outside official controls, reflecting supply and demand dynamics. 

Currency controls imposed by the Argentine government create the Dolar Blue market, aiming to manage reserves and stabilize the official exchange rate. Discrepancies between official and informal rates drive the emergence of the Dolar Blue as an alternative currency exchange channel.

## Libraries and Dependencies

In [55]:
import pandas as pd

## Stemp 1: Data Cleaning

The information for the analysis was obtained from different sources and is presented in different formats. It is necessary to homogenize the data in order to continue with the analysis.

### 1.1 Plazo Fijo (fixed-term deposits)

In [56]:
pf_df = pd.read_csv('Sources/Data/Tasa Plazo Fijo.csv')

In [57]:
pf_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328 entries, 0 to 327
Data columns (total 3 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   indice_tiempo                        328 non-null    object
 1   tasas_interes_plazo_fijo_30_59_dias  328 non-null    float64
 2   instr_bcra_tasa_politica_monetaria   88 non-null     float64
dtypes: float64(2), object(1)
memory usage: 7.8+ KB

In [58]:
pf_df

,indice_tiempo,tasas_interes_plazo_fijo_30_59_dias,instr_bcra_tasa_politica_monetaria
0,1/1/1996,8.615812,NaN
1,2/1/1996,7.621402,NaN
2,3/1/1996,7.274122,NaN
3,4/1/1996,7.106231,NaN
4,5/1/1996,6.662615,NaN
...,...,...,...
323,12/1/2022,68.751500,75.000000
324,1/1/2023,68.941364,75.000000
325,2/1/2023,69.008333,75.000000
326,3/1/2023,70.216818,76.500000
327,4/1/2023,73.589444,80.277778

In [59]:
pf_df['date'] = pd.to_datetime(pf_df.indice_tiempo, format = '%m/%d/%Y')

Since 2016, the Argentine government started to intervene banks to fix the minimum interest rate they had to offer for time deposits. This was called "monetary policy rate" and is the value that will be taken as a reference since 2016. For values prior to that date, we will take the average value of the rate paid by the average of the banks.

In [60]:
pf_df['anual_return_rate'] = pf_df['instr_bcra_tasa_politica_monetaria'].fillna(pf_df['tasas_interes_plazo_fijo_30_59_dias']).round(2)
pf_df['monthly_return_rate'] = pf_df['anual_return_rate'] / 12
pf_df['monthly_return_rate'] = pf_df['monthly_return_rate'].round(4)

In [61]:
pf_df = pf_df.drop(['indice_tiempo', 'instr_bcra_tasa_politica_monetaria', 'tasas_interes_plazo_fijo_30_59_dias'], axis = 1)

pf_df

          date  anual_return_rate  monthly_return_rate
0   1996-01-01               8.62               0.7183
1   1996-02-01               7.62               0.6350
2   1996-03-01               7.27               0.6058
3   1996-04-01               7.11               0.5925
4   1996-05-01               6.66               0.5550
..         ...                ...                  ...
323 2022-12-01              75.00               6.2500
324 2023-01-01              75.00               6.2500
325 2023-02-01              75.00               6.2500
326 2023-03-01              76.50               6.3750
327 2023-04-01              80.28               6.6900

[328 rows x 3 columns]